@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background: #eee !important;
  font-family: "Roboto Mono";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#myGrid {
  flex: 1 1 0px;
  width: 100%;
}

.example-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
}
